@import 'tailwindcss';

/* Custom theme cho project */
@theme {
  /* Custom colors */
  --color-page-bg: #f0f2f5;
  --color-sidebar-bg: rgba(48, 65, 86, 0.5);
  --color-sidebar-hover: #263445;
  --color-sidebar-sub: #1f2d3d;
  --color-tag-border: #d8dce5;
  --color-tag-text: #495060;
  --color-tag-active: #42b983;

  /* Context menu colors */
  --color-context-menu-bg: #ffffff;
  --color-context-menu-border: #e5e7eb;
  --color-context-menu-text: #333333;
  --color-context-menu-label: #999999;
  --color-context-menu-hover: #eeeeee;

  /* Custom font sizes - với base 10px thì 1rem = 10px */
  --font-size-xs: 1.2rem; /* 12px */
  --font-size-sm: 1.4rem; /* 14px */

  /* Custom heights - với base 10px thì 1rem = 10px */
  --height-tag: 2.6rem; /* 26px */
  --height-tag-view: 3.4rem; /* 34px */
  --height-header: 5rem; /* 50px */

  /* Custom min heights */
  --min-height-loading: 30rem; /* 300px */
}

@layer base {
  :root {
  }

  .dark {
  }
}

@layer base {
  * {
  }
  body {
  }
}
